body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

#slogan {
    text-align: center;
}

header {
    color: white;
    padding: 20px;
    text-align: center;
}

p {
    margin: 0;
    font-size: 1.2em;
}

section {
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    
}

h2 {
    color: #4CAF50;
    font-size: 2.5em;
    margin-bottom: 10px;
}



header a {
    font-family: "Poppins", sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin-left: 14px;
    color: #4CAF50;
    justify-content: flex-start;
    margin-top: 5px;
}

header nav {
    display: flex;
    justify-content: space-between;
}


ul {
    list-style-type: none;
    padding: 0;
}

nav > ul {
    display: inline;
    font-family: "Poppins", sans-serif;
    padding-right: 15px;
}

nav > ul > li {
    display: inline;
    font-family: "Poppins", sans-serif;
    padding-right: 15px;
    color: #4CAF50;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}
.banner-1 img {
    width: 100%;
    height: auto; /* Maintains aspect ratio */
    max-height: 50px; /* Limits the height to a maximum of 400px */
    object-fit: cover; /* Ensures the image covers the container without distortion */
}

.button {
    background-color: #ffffff;
    color: #4CAF50;
    border: none; 
    padding: 5px 10px; 
    font-size: 20px; 
    border: 0cap;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 

}

.button:hover {
    background-color: #ffffff;
    transform: scale(1.1); /* enlarge on hover */
}

.button:active {
    background-color: #ffffff;
    transform: scale(0.98); /* Slightly shrink on click */
}